 <ul class="pagination">
  {%- set start = 1 %}
  {%- set end = paginator.number_pagers %}
  {% if paginator.previous %}
    <li class="page-item"><a class="page-link" href="{{ paginator.first }}">首页</a></li>
    <li class="page-item"><a class="page-link" href="{{ paginator.previous }}">上一页</a></li>
  {%- else -%}
    <li class="page-item disabled"><a class="page-link" href="{{ paginator.first }}">首页</a></li>
    <li class="page-item disabled"><a class="page-link" href="{{ paginator.previous }}">上一页</a></li>
  {% endif %}
  {% if paginator.current_index > 3 %}
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
  {% endif %}
  {%- for i in range(start=start, end=end+1) -%}
    {%- if i == paginator.current_index -%}
      <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
    {%- elif i + 3 > paginator.current_index -%}
      {%- if i < paginator.current_index + 3 -%}
        <li class="page-item"><a class="page-link" href="{{ paginator.base_url | safe }}{{ i ~ '/' }}{%- if uglyurls %}index.html{%- endif %}">{{i}}</a></li>
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
  {% if paginator.current_index + 2 < end %}
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
  {% endif %}
  {% if paginator.next %}
    <li class="page-item"><a class="page-link" href="{{ paginator.next }}">下一页</a></li>
    <li class="page-item"><a class="page-link" href="{{ paginator.last }}">尾页</a></li>
  {%- else -%}
    <li class="page-item disabled"><a class="page-link" href="{{ paginator.next }}">下一页</a></li>
    <li class="page-item disabled"><a class="page-link" href="{{ paginator.last }}">尾页</a></li>
  {% endif %}
</ul>
