{% extends "base.html" %}

{% block content %}
<div class="max-w-7xl mx-auto pt-8 px-4 sm:px-6 lg:px-8">
  <h1 class="text-center lg:text-left">
    {{ res.tags.other | capitalize }}
  </h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for term in terms %}
      {% set author = get_page(path="authors/"~term.name~"/index.md") %}
      <div class="card my-5">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            {% set avatar = get_url(path="authors/"~term.name~"/"~author.extra.image) %}
            <img
              src="{{avatar}}"
              class="img-fluid m-auto d-block rounded-circle"
              alt="{{author.title}}"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <a
                  class="text-decoration-none text-reset"
                  href="{{get_taxonomy_url(kind="authors", name=term.name)}}"
                >{{author.title}}</a>
              </h5>
              <p class="card-text">{{author.content | safe}}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}