<!DOCTYPE html>
<html dir="ltr" lang="{{ config.default_language }}">
<head>
  {# Initialize language resources #}
  {% set res         = load_data(path=config.extra.path_language_resources ~ config.default_language ~ '.toml') %}
  {% set locale      = res.settings_locale      | default(value="en")        %}
  {% set date_locale = res.settings_date_locale | default(value="en_US")     %}
  {% set date_format = res.settings_date_format | default(value="%B %d, %Y") %}

  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% elif config.description %}
    <meta name="description" content="{{ config.description }}">
  {% endif %}

  <title>{{ config.extra.title }}</title>
  <link rel="stylesheet" href="/css/norwind.css">
  <link rel="stylesheet" href="/css/shortcodes/flexbin.css">
  <link rel="stylesheet" href="/css/shortcodes/imgswap.css">
  {% if config.extra.favicon_svg %}
    <link rel="icon" href="{{ config.extra.favicon_svg }}" />
  {% endif %}
  <script defer src="/js/norwind/logic.js" integrity="sha384-GYtsrgYVRYoxdEL+C+79KROm+MCl1ArSzQnqVnPTV78UNz5a1vFxAEiKbobXhQlw"></script>
</head>
<body>
  {% include "partials/header.html" %}
  <div id="content">
    {% block content %}{% endblock content %}
  </div>
  {% include "partials/footer.html" %}
</body>
</html>
